.block-header {
    margin: 110px 70px 0;
    padding-bottom: 23px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 22px;
    line-height: 26.63px;
    letter-spacing: -0.04em;
    text-align: start;
}

@media screen and (max-width: 1279px) {
    .block-header {
        margin: 90px 50px 0;
    }
}

@media screen and (max-width: 767px) {
    .block-header {
        margin: 70px 18px 0;
        padding-bottom: 28px;
        font-size: 18px;
        line-height: 21.78px;
    }
}