.block-header {
    margin: 110px 610px 23px 70px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26.63px;
    letter-spacing: -0.04em;
    text-align: start;
}

.block-line {
    margin: 0 70px;
}
