.navbar{
    margin-top: 21px;
    margin-right: 0;
}

.navbar__register {
    margin-top: 8px;
    margin-right: 30px;
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: rgb(255,255,255);
}

.navbar__register:hover {
    opacity: 70%;
    cursor: pointer;
}

.navbar__login {
    width: 76px;
    height: 32px;
    padding: 0;
    border: 1px solid rgba(43, 224, 128, 1);
    border-radius: 3px;
    background-color: rgba(43, 224, 128, 1);
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: rgb(0,0,0);
}

.navbar__login:hover {
    opacity: 80%;
    cursor: pointer;
}