.portfolio {
    margin: 0 960px 30px 70px;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
}
.portfolio-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.portfolio-li {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 19px;
    margin: 20px 70px 0;
}
.portfolio-li:last-child{
    border: none;
    margin-bottom: 125px;
}
.portfolio-link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}
.portfolio-link:hover {
    opacity: 70%;
}
.portfolio-link__title {
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
}

@media screen and (max-width: 1279px) {
    .portfolio {
        margin: 0 468px 30px 50px;
    }
    .portfolio-li {
        margin: 20px 50px 0;
    }
    .portfolio-link__title {
        font-size: 28px;
    }
}
@media screen and (max-width: 767px) {
    .portfolio {
        margin: 0 14px 20px;
        font-size: 14px;
    }
    .portfolio {
        margin: 20px 14px 0;
    }
    .portfolio-link__title {
        font-size: 18px;
        line-height: 28px;
    }
}
