.footer {
    display: flex;
    position: relative;
    margin: 0 70px 20px;
}
.footer__title {
    display: flex;
    justify-content: center;
    width: 1140px;
    margin: 79px auto 36px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    color: #A0A0A0;
    padding-bottom: 19px;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.footer__copyright {
    position: absolute;
    margin: 0;
    left: 0;
    bottom: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
}
.footer__links {
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
}
.footer__link {
    color:#000000;
    text-decoration: none;
    margin-right: 20px;
}
.footer__link:last-child {
    margin: 0;
}
.footer__link:hover {
    opacity: 70%;
}

@media screen and (max-width: 1279px) {
    .footer {
        margin-right: 30px;
        margin-left: 30px;
    }
    .footer__title {
        width: calc( 100vw - 60px );
    }
}
@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        margin: 0;
    }
    .footer__title {
        width: calc( 100vw - 20px );
        margin: 79px auto 30px;
        padding-bottom: 21px;
        font-size: 12px;
        line-height: 14.52px;
    }
    .footer__copyright {
        position: relative;
        margin: 18px auto 20px;
        font-size: 12px;
        line-height: 14.52px;
        color: #A0A0A0;
    }
    .footer__links {
        position: relative;
        flex-direction: column;
        font-size: 12px;
        line-height: 14.52px;
    }
    .footer__link {
        margin: 0 auto 12px;
    }
    .footer__link:last-child {
        margin: 0 auto 12px;
    }
}
